.main-page-wrapper {
	width: 100%;
	height: 100svh;
	overflow: hidden;
	position: relative;

	.overlayer {
		position: absolute;
		z-index: 10;
		top: 12vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.title-image {
			height: 40svh;
		}
		.text-image {
			padding: 14px 0 22px 0;
		}
		.year-image {
			height: 30px;
		}
	}
}
