.modal-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;

	.background {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		animation: modal-bg-show 0.3s;
		@keyframes modal-bg-show {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
		@media (min-width: 450px) {
			width: 450px;
		}
	}

	.block {
		position: relative;
		width: calc(100% - 84px);
		border-radius: 2px;
		background-color: var(--color-red);
		animation: modal-show 0.3s;
		@keyframes modal-show {
			from {
				opacity: 0;
				margin-top: -20px;
			}
			to {
				opacity: 1;
				margin-top: 0;
			}
		}
		@media (min-width: 450px) {
			width: calc(450px - 84px);
		}

		.xbtn {
			position: absolute;
			top: 12px;
			right: 10px;
			cursor: pointer;
		}

		.inner {
			padding: 70px 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: var(--font-text);
			font-size: 16px;
			color: black;

			.title {
				font-size: 36px;
				font-weight: 700;
				line-height: 50px;
				text-align: center;
				letter-spacing: -0.5px;
			}
			.back {
				position: absolute;
				top: 86px;
				font-family: var(--font-serif);
				font-size: 128px;
				display: flex;
				gap: 170px;
			}
			.bold {
				font-weight: 700;
				text-align: center;
				line-height: 140%;
				padding-top: 40px;
			}
			.text {
				color: black;
				text-decoration: none;
				padding-top: 16px;

				&.link {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
}
